<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">

</head>
<body>

    <div class="form-container">
        <h2>Welcome! press for fill the form</h2>

        <!-- Form that redirects to upload form after submission -->
        <form action="/upload" method="GET">
            <!-- Name Input -->
            
            <!-- Submit Button -->
            <button type="submit" class="submit-btn">Go to Upload Form</button>
        </form>
    </div>

</body>
</html>
